.menu__item-heading {
  @include indent();
  padding: 15px;
  background-color: lightcyan;
  cursor: pointer;
}

.menu__item {
  @include indent();
  padding: 15px 20px;
  background-color: pink;
}

.menu__item-content {
  @include indent();
}
