.table {
  @include indent();
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0;
}

.table__title {
  @include title();
}

.table--html,
.table--css {
  margin-bottom: 40px;
}
